application/physical/btw17/bin/
application/physical/btw17/include/
application/physical/btw17/lib/
application/physical/btw17/local/
application/physical/btw17/pip-selfcheck.json
application/physical/btw17/selenium/
application/physical/btw17/share/
application/physical/.ipynb_checkpoints
application/physical/building-blocks
application/physical/btw17/btw17/__pycache__