application/physical/stn/bin/
application/physical/stn/include/
application/physical/stn/lib/
application/physical/stn/local/
application/physical/stn/pip-selfcheck.json
application/physical/stn/selenium/
application/physical/stn/share/
